@font-face {
  font-family: 'Pretendard';
  src: url('assets/fonts/Pretendard-ExtraLight.woff2') format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: 'Pretendard';
  src: url('assets/fonts/Pretendard-Light.woff2') format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: 'Pretendard';
  src: url('assets/fonts/Pretendard-Regular.woff2') format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: 'Pretendard';
  src: url('assets/fonts/Pretendard-Medium.woff2') format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: 'Pretendard';
  src: url('assets/fonts/Pretendard-SemiBold.woff2') format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: 'Pretendard';
  src: url('assets/fonts/Pretendard-Bold.woff2') format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: 'Pretendard';
  src: url('assets/fonts/Pretendard-ExtraBold.woff2') format("woff2");
  font-weight: 800;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input {
	margin: 0;
	padding: 0;
	background-color: transparent;
  border: none;

	vertical-align: baseline;
  line-height: 1.2;
  font-family: 'Pretendard';
  font-weight: 400;

  cursor: pointer;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
	width: 8px;
	background:#bbbbbb;
  border-radius: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
	border: none;
  font-weight: 500;
}

a {
  color: black; 
  text-decoration: none;
}

